@using HakunaMatata_Bookstore.Models;
@model IEnumerable<DONDATHANG>
@{ ViewBag.Title = "ChuaGiao";
                Layout = "~/Views/layout/Thongke.cshtml";
                WebGrid grid = new WebGrid(source: Model, rowsPerPage: 2); }
<h2>Quản lý đơn hàng (Danh sách đơn hàng chưa giao đã thanh toán)</h2>
<br />
<ul class="nav nav-tabs">
    <li role="presentation"style="width:33.33%;text-align:center"><a href="@Url.Action("ChuaThanhToan","Quanlydonhang")"style="color: #f89e1f">Chưa thanh toán</a></li>
    <li role="presentation" class="active"style="width:33.33%;text-align:center"><a href="@Url.Action("ChuaGiao","Quanlydonhang")"style="color: #f89e1f">Chưa giao & đã thanh toán</a></li>
    <li role="presentation"style="width:33.33%;text-align:center"><a href="@Url.Action("DaGiaoDaThanhToan","Quanlydonhang")"style="color: #f89e1f">Đã giao & thanh toán</a></li>
</ul>
<br />

@grid.GetHtml(
    tableStyle: "divTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("MaDDH", header: "Mã đơn hàng"),
        grid.Column("Ngaydat", header: "Ngày đặt"),
        grid.Column("Tinhtranggiaohang", header: "Tình trạng giao hàng"),
        grid.Column("Ngaygiao", header: "Ngày giao"),
        grid.Column("Dathanhtoan", header: "Đã thanh toán"),
        grid.Column("Dahuy", header: "Đã hủy"),
    grid.Column(format: p => @Html.ActionLink("Duyệt đơn hàng", "DuyetDonHang", new { id = p.MaDDH }, new { @target = "_blank" }))

        ))


@*Css cho controller*@
<style>
    .nav > li {
        background: rgba(0,0,0,.5);
    }

    .divTable {
        width: 100%;
        border: 1px solid #999999;
    }

        .divTable td {
            border: 1px solid #999999;
        }

    .gridHead {
        background-color: Green;
    }

        .gridHead > th > a {
            color: #fff;
        }

    .gridFooter {
        font-weight: bold;
    }

    .divTable a {
        color: white;
    }
</style>



